
.commentBox{
  padding: 20px;
  margin: 20px;
  display: inline-block;
  border: 1px solid black;
}

.commentList{
  padding: 20px;
  border: 1px solid #C2C2C2;;
  margin-bottom: 10px;
}

.commentAuthor{
  margin-bottom: 5px
}
.comment{
  margin-left: 5px;
  font-size: 0.9em;
  color: gray;
}
